@import "tailwindcss";

@theme {
  --color-primary: #006CE4;
  --color-primary-hover: #005bb5;
  --color-secondary: #FFC107;
  --color-secondary-hover: #e0a800;
  --color-background-light: #F5F7FA;
}

@layer base {
  body {
    @apply bg-background-light text-slate-800 antialiased;
  }
}