@import "tailwindcss";

@theme {
  --color-primary: #174589;          /* Deep logo blue */
  --color-primary-hover: #123a73;    /* Darker blue */

  --color-secondary: #AA5555;        /* Logo red tone */
  --color-secondary-hover: #8e4444;  /* Darker red */

  --color-background-light: #F4F7FB; /* Soft bluish background */

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  @keyframes marquee2 {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
}

@layer base {
  body {
    @apply bg-background-light text-slate-800 antialiased;
  }
}