@import "tailwindcss";

@theme {
  --color-primary: #006CE4;
  --color-primary-hover: #005bb5;
  --color-secondary: #FFC107;
  --color-secondary-hover: #e0a800;
  --color-background-light: #F5F7FA;

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  @keyframes marquee2 {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
}

@layer base {
  body {
    @apply bg-background-light text-slate-800 antialiased;
  }
}